#Created by Constraints Editor (xc7k160t-ffg676-2l) - 2015/06/20
#系统时钟
NET "clk_100mhz"		LOC = AC18      | IOSTANDARD = LVCMOS18 ;
NET "clk_100mhz"		TNM_NET = TM_CLK ;
TIMESPEC TS_CLK_100M = PERIOD "TM_CLK"  10 ns HIGH 50%;

#Reset or CR
NET "RSTN"				LOC = W13       | IOSTANDARD = LVCMOS18 ;

#七段码串行接口
NET "seg_clk"			LOC = M24   | IOSTANDARD = LVCMOS33 ;
NET "seg_clrn"			LOC = M20   | IOSTANDARD = LVCMOS33 ;
NET "seg_sout"			LOC = L24   | IOSTANDARD = LVCMOS33 ;
NET "SEG_PEN"			LOC = R18   | IOSTANDARD = LVCMOS33 ;    

#switch
NET "SW[0]"				LOC = AA10  | IOSTANDARD = LVCMOS15; #point[0]
NET "SW[1]"				LOC = AB10  | IOSTANDARD = LVCMOS15; #point[1]
NET "SW[2]"				LOC = AA13  | IOSTANDARD = LVCMOS15; #point[2]
NET "SW[3]"				LOC = AA12  | IOSTANDARD = LVCMOS15; #point[3]

NET "SW[4]"				LOC = Y13   | IOSTANDARD = LVCMOS15; #point[4]
NET "SW[5]"				LOC = Y12   | IOSTANDARD = LVCMOS15; #point[5]
NET "SW[6]"				LOC = AD11  | IOSTANDARD = LVCMOS15; #point[6]
NET "SW[7]"				LOC = AD10  | IOSTANDARD = LVCMOS15; #point[7]

NET "SW[8]"				LOC = AE10  | IOSTANDARD = LVCMOS15 ;#to LE[0]
NET "SW[9]"				LOC = AE12  | IOSTANDARD = LVCMOS15 ;#to LE[1]
NET "SW[10]"			LOC = AF12  | IOSTANDARD = LVCMOS15 ;#to LE[2]
NET "SW[11]"			LOC = AE8   | IOSTANDARD = LVCMOS15 ;#to LE[3]
NET "SW[12]"			LOC = AF8   | IOSTANDARD = LVCMOS15 ;#to LE[4]
NET "SW[13]"			LOC = AE13  | IOSTANDARD = LVCMOS15 ;#to LE[5]
NET "SW[14]"			LOC = AF13  | IOSTANDARD = LVCMOS15 ;#to LE[6]
NET "SW[15]"			LOC = AF10  | IOSTANDARD = LVCMOS15 ;#to LE[7]

#Arduino-Sword-002-Basic IO
NET "Buzzer"			LOC = AF24      | IOSTANDARD = LVCMOS33 ;
#NET "SEGMENT[0]"		LOC = AB22      | IOSTANDARD = LVCMOS33 ;#a
#NET "SEGMENT[1]" 		LOC = AD24		 | IOSTANDARD = LVCMOS33 ;#b
#NET "SEGMENT[2]" 		LOC = AD23		 | IOSTANDARD = LVCMOS33 ;
#NET "SEGMENT[3]" 		LOC = Y21		 | IOSTANDARD = LVCMOS33 ;
#NET "SEGMENT[4]" 		LOC = W20		 | IOSTANDARD = LVCMOS33 ;
#NET "SEGMENT[5]" 		LOC = AC24		 | IOSTANDARD = LVCMOS33 ;
#NET "SEGMENT[6]" 		LOC = AC23		 | IOSTANDARD = LVCMOS33 ;#g
#NET "SEGMENT[7]" 		LOC = AA22		 | IOSTANDARD = LVCMOS33 ;#point

#NET "AN[0]" 			LOC = AD21      | IOSTANDARD = LVCMOS33 ;
#NET "AN[1]" 			LOC = AC21      | IOSTANDARD = LVCMOS33 ;
#NET "AN[2]" 			LOC = AB21      | IOSTANDARD = LVCMOS33 ;
#NET "AN[3]" 			LOC = AC22      | IOSTANDARD = LVCMOS33 ;






