#Created by Constraints Editor (xc7k160t-ffg676-2l) - 2015/06/20
#Clock
NET "clk"			LOC = AC18  |IOSTANDARD = LVCMOS18 ;
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 10 ns HIGH 50%;
OFFSET = IN 6 ns VALID 100 ns BEFORE "clk" RISING;
#NET "S1" OFFSET = IN 6 ns VALID 100 ns BEFORE "clk" RISING;
#NET "S2" OFFSET = IN 6 ns VALID 100 ns BEFORE "clk" RISING;
#NET "S3" OFFSET = IN 6 ns VALID 100 ns BEFORE "clk" RISING;

#ÈýÉ«ÐÅºÅµÆ£ºTri_LED
NET "F"				LOC = U21   | IOSTANDARD = LVCMOS33 ;#LED_nR0
#NET "??"			LOC = U22   | IOSTANDARD = LVCMOS33 ;#LED_nG0
#NET "??"			LOC = V22   | IOSTANDARD = LVCMOS33 ;#LED_nB0
#NET "LED_nR1"		LOC = U24   | IOSTANDARD = LVCMOS18 ;
#NET "LED_nG1"		LOC = U25   | IOSTANDARD = LVCMOS18 ;
#NET "LED_nB1"		LOC = V23   | IOSTANDARD = LVCMOS18 ;

#Button
#NET "BTN_x[0]" 	LOC = V17   | IOSTANDARD = LVCMOS18 ;
#NET "BTN_x[1]"	LOC = W18   | IOSTANDARD = LVCMOS18 ;
#NET "BTN_x[2]"	LOC = W19   | IOSTANDARD = LVCMOS18 ;
#NET "BTN_x[3]"		LOC = W15   | IOSTANDARD = LVCMOS18 ;
NET "TG"				LOC = W16   | IOSTANDARD = LVCMOS18 ;//BTN_x[4]
NET "S1"				LOC = V18   | IOSTANDARD = LVCMOS18 ;//BTN_y[0]
NET "S2"				LOC = V19   | IOSTANDARD = LVCMOS18 ;//BTN_y[1]
NET "S3"				LOC = V14   | IOSTANDARD = LVCMOS18 ;//BTN_y[2]
#NET "BTN_y[3]"	LOC = W14   | IOSTANDARD = LVCMOS18 ;

#switch
#NET "S1"			LOC = AA10  |IOSTANDARD = LVCMOS15 ;
#NET "S2"			LOC = AB10  |IOSTANDARD = LVCMOS15 ;
#NET "S3"			LOC = AA13  |IOSTANDARD = LVCMOS15 ;
#NET "SW[3]"		LOC = AA12  | IOSTANDARD = LVCMOS15 ;
#NET "SW[4]"		LOC = Y13   | IOSTANDARD = LVCMOS15 ;
#NET "SW[5]"		LOC = Y12   | IOSTANDARD = LVCMOS15 ;
#NET "SW[6]"		LOC = AD11  | IOSTANDARD = LVCMOS15 ;
#NET "SW[7]"		LOC = AD10  | IOSTANDARD = LVCMOS15 ;
#NET "SW[8]"		LOC = AE10  | IOSTANDARD = LVCMOS15 ;
#NET "SW[9]"		LOC = AE12  | IOSTANDARD = LVCMOS15 ;
#NET "SW[10]"		LOC = AF12  | IOSTANDARD = LVCMOS15 ;
#NET "SW[11]"		LOC = AE8   | IOSTANDARD = LVCMOS15 ;
#NET "SW[12]"		LOC = AF8   | IOSTANDARD = LVCMOS15 ;
#NET "SW[13]"		LOC = AE13  | IOSTANDARD = LVCMOS15 ;
#NET "SW[14]"		LOC = AF13  | IOSTANDARD = LVCMOS15 ;
#NET "SW[15]"		LOC = AF10  | IOSTANDARD = LVCMOS15 ;
#NET "Buzzer"		LOC = AF24  | IOSTANDARD = LVCMOS33 ;
