#Created by Constraints Editor (xc7k160t-ffg676-2l) - 2015/06/20
#系统时钟
NET "clk_100mhz"		LOC = AC18      | IOSTANDARD = LVCMOS18 ;
NET "clk_100mhz"		TNM_NET = TM_CLK ;
TIMESPEC TS_CLK_100M = PERIOD "TM_CLK"  10 ns HIGH 50%;
#74HC138
#SWord LED移位接口 SPLIO输出，低16位对应LED
NET "led_clk"			LOC = N26	| IOSTANDARD = LVCMOS33 ;
NET "led_clrn"			LOC = N24   | IOSTANDARD = LVCMOS33 ;
NET "led_sout"			LOC = M26   | IOSTANDARD = LVCMOS33 ;
NET "LED_PEN"			LOC = P18   | IOSTANDARD = LVCMOS33 ;     
#switch
NET "A"					LOC = AA10  | IOSTANDARD = LVCMOS15 ;#SW[0]
NET "B"					LOC = AB10  | IOSTANDARD = LVCMOS15 ;#SW[1]
NET "C"					LOC = AA13  | IOSTANDARD = LVCMOS15 ;#SW[2]
#NET "SW[3]"				LOC = AA12  | IOSTANDARD = LVCMOS15 ;
#NET "SW[4]"				LOC = Y13   | IOSTANDARD = LVCMOS15 ;
NET "G"					LOC = Y12   | IOSTANDARD = LVCMOS15 ;#SW[5]
NET "G_2A"				LOC = AD11  | IOSTANDARD = LVCMOS15 ;#SW[6]
NET "G_2B"				LOC = AD10  | IOSTANDARD = LVCMOS15 ;#SW[7]
#NET "SW[8]"				LOC = AE10  | IOSTANDARD = LVCMOS15 ;
#NET "SW[9]"				LOC = AE12  | IOSTANDARD = LVCMOS15 ;
#NET "SW[10]"			LOC = AF12  | IOSTANDARD = LVCMOS15 ;
#NET "SW[11]"			LOC = AE8   | IOSTANDARD = LVCMOS15 ;
#NET "SW[12]"			LOC = AF8   | IOSTANDARD = LVCMOS15 ;
#NET "SW[13]"			LOC = AE13  | IOSTANDARD = LVCMOS15 ;
#NET "SW[14]"			LOC = AF13  | IOSTANDARD = LVCMOS15 ;
#NET "SW[15]"			LOC = AF10  | IOSTANDARD = LVCMOS15 ;

#Arduino-Sword-002-Basic IO
NET "Buzzer"	LOC = AF24  | IOSTANDARD = LVCMOS33 ;#蜂鸣器

NET "Y[0]" 		LOC = AB26  | IOSTANDARD = LVCMOS33 ;#LED[0]
NET "Y[1]" 		LOC = W24   | IOSTANDARD = LVCMOS33 ;#LED[1]
NET "Y[2]" 		LOC = W23   | IOSTANDARD = LVCMOS33 ;#LED[2]
NET "Y[3]" 		LOC = AB25  | IOSTANDARD = LVCMOS33 ;#LED[3]
NET "Y[4]" 		LOC = AA25  | IOSTANDARD = LVCMOS33 ;#LED[4]
NET "Y[5]" 		LOC = W21   | IOSTANDARD = LVCMOS33 ;#LED[5]
NET "Y[6]" 		LOC = V21   | IOSTANDARD = LVCMOS33 ;#LED[6]
NET "Y[7]" 		LOC = W26   | IOSTANDARD = LVCMOS33 ;#LED[7]
