//! **************************************************************************
// Written by: Map P.20131013 on Wed Aug 17 21:59:47 2016
//! **************************************************************************

SCHEMATIC START;
COMP "s<0>" LOCATE = SITE "AB26" LEVEL 1;
COMP "Buzzer" LOCATE = SITE "AF24" LEVEL 1;
COMP "s<1>" LOCATE = SITE "W24" LEVEL 1;
COMP "s<2>" LOCATE = SITE "W23" LEVEL 1;
COMP "s<3>" LOCATE = SITE "AB25" LEVEL 1;
COMP "Co" LOCATE = SITE "AA25" LEVEL 1;
COMP "a<0>" LOCATE = SITE "AA10" LEVEL 1;
COMP "a<1>" LOCATE = SITE "AB10" LEVEL 1;
COMP "a<2>" LOCATE = SITE "AA13" LEVEL 1;
COMP "a<3>" LOCATE = SITE "AA12" LEVEL 1;
COMP "b<0>" LOCATE = SITE "Y13" LEVEL 1;
COMP "b<1>" LOCATE = SITE "Y12" LEVEL 1;
COMP "b<2>" LOCATE = SITE "AD11" LEVEL 1;
COMP "b<3>" LOCATE = SITE "AD10" LEVEL 1;
SCHEMATIC END;

