
##系统时钟
NET "clk_100mhz"		LOC = AC18      | IOSTANDARD = LVCMOS18 ;
NET "RSTN"				LOC = W13       | IOSTANDARD = LVCMOS18 ;
NET "clk_100mhz"		TNM_NET = TM_CLK ;
TIMESPEC TS_CLK_100M = PERIOD "TM_CLK"  10 ns HIGH 50%;
#滑动开关
NET "a[0]"		LOC = AA10   	 | IOSTANDARD = LVCMOS15 ;SW[0]
NET "a[1]"		LOC = AB10      | IOSTANDARD = LVCMOS15 ;SW[1]
NET "a[2]"		LOC = AA13      | IOSTANDARD = LVCMOS15 ;SW[2]
NET "a[3]"		LOC = AA12      | IOSTANDARD = LVCMOS15 ;SW[3]
NET "b[0]"		LOC = Y13       | IOSTANDARD = LVCMOS15 ;SW[4]
NET "b[1]"		LOC = Y12       | IOSTANDARD = LVCMOS15 ;SW[5]
NET "b[2]"		LOC = AD11      | IOSTANDARD = LVCMOS15 ;SW[6]
NET "b[3]"		LOC = AD10      | IOSTANDARD = LVCMOS15 ;SW[7]

NET "led_clk"			LOC = N26	|IOSTANDARD = LVCMOS33 ;
NET "led_clrn"			LOC = N24   | IOSTANDARD = LVCMOS33 ;
NET "led_sout"			LOC = M26   | IOSTANDARD = LVCMOS33 ;
NET "LED_PEN"			LOC = P18   | IOSTANDARD = LVCMOS33 ;     

#Arduino-Sword-002-Basic IO
#NET "Buzzer"				LOC = AF24			| IOSTANDARD = LVCMOS33 ;

#NET "s[0]" 				LOC = AB26  		| IOSTANDARD = LVCMOS33 ;LED[0]
#NET "s[1]" 				LOC = W24			| IOSTANDARD = LVCMOS33 ;LED[1]
#NET "s[2]" 				LOC = W23			| IOSTANDARD = LVCMOS33 ;LED[2]
#NET "s[3]" 				LOC = AB25			| IOSTANDARD = LVCMOS33 ;LED[3]
#NET "c0" 				LOC = AA25			| IOSTANDARD = LVCMOS33 ;LED[4]
